@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
p,
span {
  margin: 0;
  padding: 0;
}
.glassmorphism {
  background: rgba(149, 66, 232, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.hero-gradient {
  background: linear-gradient(
    97.86deg,
    #a509ff 0%,
    #34acc7 53.65%,
    #a134c7 100%
  );
}
