.carousel-control-next,
.carousel-control-prev {
  background-color: rgb(0, 0, 0) !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  top: 50% !important;
  bottom: 50% !important;
  margin: 0rem 1rem !important;
}
.carousel-indicators .active {
  background-color: rgb(0, 0, 0, 0.8) !important;
  border-radius: 10% !important;
}
.carousel-indicators [data-bs-target] {
  width: 50px !important;
  height: 10px !important;
  border-radius: 10px !important;
}
